<h1>Editing listing</h1>

<%= render "form", listing: @listing %>

<% if @listing.status == "active" %>
<%= button_to "Mark as sold", mark_as_sold_path(@listing) %>
<%= button_to "Mark as cancelled", mark_as_cancel_path(@listing) %>
<% end %>

